<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , intial-scale="1.0">
    <title><%= title %></title>
</head>

<body>
    <h1>About Us</h1>
    <p>This is the about page of our Express app!</p>
    <img src="/images/_4e6a59a4-e8e8-48d9-a0b0-308b7553fc29.jpeg" />
</body>

</html>